# Streamlit secrets (절대 올리면 안 됨)
.streamlit/
secrets.toml

# Python 환경 및 가상환경 (점 있는 것과 없는 것 모두 차단)
.venv/
venv/
ENV/
env/
bin/
lib/
__pycache__/
*.py[cod]
*.pkl
.env

# OS 및 기타 설정 파일
.DS_Store
.vscode/